<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Component</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <!-- page header -->
  <header>
    <h1>Book Component By Function</h1>
  </header>

  <nav>
    <ul class="menu">
      <li><a href="about.html">About Us</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </nav>

  <main>
    <!-- book cover -->
    <div class="cover-book">
      <!-- top section -->
      <div class="cover-book-top">
        <small>O'REILLY</small>
        <h3>Kyle Simpson</h3>
      </div>

      <!-- middle section -->
      <div class="cover-book-middle">
        <h1>Scope & <br>Closures</h1>
      </div>

      <!-- bottom section -->
      <div class="cover-book-bottom">
        <h1>JS</h1>
        <span>YOU DON'T KNOW</span>
      </div>
    </div>

    <!-- book details -->
    <div class="book-details">
      <h2>By Kyle Simpson</h2>
      <p>Parts of the language that many JavaScript<br> programmers simply avoid.</p>
    </div>
  </main>

  <!-- page footer -->
  <footer>
    <p>&copy; 2024 Natalia Akulov and Aviran Amormin | AviNat Projects</p>
    <p>Your partner in innovative solutions.</p>
  </footer>
</body>

</html>